
# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions and executables
*.so
*.sh
run

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# pyenv
.python-version
.venv

# pipenv / poetry
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
Pipfile.lock
poetry.lock

# IDE and Editors
.idea
.vscode
*.code-workspace
.vim

#MacOS
.DS_Store

# Github 
# .github

#Extra
datasets
reference_material
notebooks/*
presentations/*/
*.ipynb_checkpoints/

#Other
*.Rhistory
*.docx

# End of https://www.gitignore.io/api/python
