# pyenv
.python-version
.venv

# poetry
poetry.lock

# IDE and Editors
.idea
.vscode
*.code-workspace
.vim

#MacOS
.DS_Store

# Github 
# .github

#Extra
datasets
reference_material
notebooks/*
presentations/*/
*.ipynb_checkpoints/

#Other
*.Rhistory
*.docx

# End of https://www.gitignore.io/api/python
